{% extends "base.html" %}

{% block content %}
<section class="about-section py-5 fade-in">
    <div class="container">
        <h2 class="display-4 text-center mb-4">About Us</h2>
        <p class="lead text-center">Welcome to GroupPortal!</p>
        <p class="text-center">Every week, we gather to collaborate, innovate, and drive progress through GroupPortal.
        </p>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-5 fade-in text-block left-block">
                <h3>Our Mission</h3>
                <p>GroupPortal’s mission is to empower individuals and communities by fostering collaboration and
                    innovation. We aim to be a catalyst for positive change, equipping people with the tools and
                    opportunities to succeed.</p>
                <p>We believe that everyone has the potential to contribute meaningfully, regardless of their background
                    or experience. GroupPortal strives to create a platform where ideas flourish, skills are honed, and
                    progress is made.</p>
                <p>Through GroupPortal, we engage in impactful projects, support emerging talent, and work to build a
                    stronger, more connected community through shared goals and initiatives.</p>
            </div>
            <div class="col-md-5 fade-in">
                <h3>Our Values</h3>
                <div class="value-item text-block">
                    <strong>Innovation:</strong> At GroupPortal, we embrace creativity and forward-thinking. We
                    encourage new ideas and solutions to tackle challenges and improve our world.
                </div>
                <div class="value-item text-block">
                    <strong>Collaboration:</strong> GroupPortal thrives on teamwork and collective effort. We bring
                    people together to share knowledge, resources, and expertise for greater impact.
                </div>
                <div class="value-item text-block">
                    <strong>Growth:</strong> Through GroupPortal, we prioritize development and learning. We provide
                    opportunities for individuals and groups to expand their skills and achieve their goals.
                </div>
                <div class="value-item text-block">
                    <strong>Impact:</strong> GroupPortal is dedicated to making a difference. We measure our success by
                    the positive outcomes we create for our members and the wider community.
                </div>
            </div>
        </div>
        <div class="text-center mt-5 fade-in">
            <a class="btn btn-primary btn-lg" href="/contacts/" role="button">Contact Us</a>
        </div>
    </div>

</section>
{% endblock %}